body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:216px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:16px;
  top:10px;
  width:88px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:16px;
  top:57px;
  width:200px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:116px;
  top:92px;
  width:100px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
