body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:309px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:16px;
  top:10px;
  width:293px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:116px;
  top:225px;
  width:100px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3 {
  position:absolute;
  left:16px;
  top:57px;
  width:59px;
  height:15px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:16px;
  top:110px;
  width:27px;
  height:15px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:16px;
  top:181px;
  width:200px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:16px;
  top:163px;
  width:31px;
  height:15px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:16px;
  top:131px;
  width:200px;
  height:22px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10_input:disabled {
  color:grayText;
}
#u11 {
  position:absolute;
  left:16px;
  top:78px;
  width:200px;
  height:22px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11_input:disabled {
  color:grayText;
}
