<% include headeruser %>
<div class="col-md-push-3 col-md-6 col-xs-12">
    <h2>Employee edit</h2>

    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="room">Room</label>
            <input type="text" id="room" class="form-control">
        </div>
        <div class="form-group">
            <a href="/employees" class="btn btn-primary">Save</a>
            <a href="/employees" class="btn btn-default">Cancel</a>
        </div>
    </form>
</div>
<% include footer %>