<% include header %>
<div class="col-xs-12 text-center">
            <span class="btn-group">
                <a href="/employees" class="btn btn-info">Employees</a>
                <a href="/items" class="btn btn-info">Items</a>
                <a href="/inventory" class="btn btn-info">Inventory</a>
                <a href="/login" class="btn btn-info">Logout</a>
            </span>
</div>