<% include headeruser %>
        <div class="col-md-push-3 col-md-6 col-xs-12">
            <h2>Inventory edit</h2>

            <form>
                <div class="form-group">
                    <label for="employee">Employee</label>
                    <select id="employee" class="form-control">
                        <option>Lorem ipsum</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="item">Item</label>
                    <select id="item" class="form-control">
                        <option>Lorem ipsum</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="from">From</label>
                    <input type="text" id="from" class="form-control">
                </div>
                <div class="form-group">
                    <a href="/inventory" class="btn btn-primary">Save</a>
                    <a href="/inventory" class="btn btn-default">Cancel</a>
                </div>
            </form>
        </div>
<% include footer %>