<% include header %>
<div class="col-xs-12 text-center">
    <h2>Login</h2>
</div>
<div class="col-md-push-3 col-md-6 col-xs-12">
    <form>
        <div class="form-group">
            <label for="loginpw">Password for login</label>
            <input type="password" class="form-control" id="loginpw">
        </div>
        <div class="form-group">
            <a href="/inventory" class="btn btn-default btn-block">Login</a>
        </div>
    </form>
</div>
<% include footer %>